{% extends 'base.html' %}

{% block content %}
<h2>All Stock Receipts</h2>

<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>Receipt No</th>
      <th>Store</th>
      <th>Received Date</th>
      <th>Received By</th>
      <th>Attachment</th>
    </tr>
  </thead>
  <tbody>
    {% for receipt in receipts %}
    <tr onclick="window.location.href='{% url 'stock_receipt_detail' receipt.id %}'" style="cursor: pointer;">
      <td>{{ receipt.receipt_no }}</td>
      <td>{{ receipt.store.store_name }}</td>
      <td>{{ receipt.received_date }}</td>
      <td>{{ receipt.received_by.username }}</td>
      <td>
        {% if receipt.attachment %}
          <a href="{{ receipt.attachment.url }}" target="_blank">View</a>
        {% else %}
          -
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
