{% extends 'base.html' %}

{% block content %}
  <h2>Inactive Employees</h2>
  <table border="1">
    <tr>
      <th>Emp No</th>
      <th>Name</th>
      <th>CPR</th>
      <th>Phone</th>
      <th>Section</th>
      <th>Position</th>
      <th>Store</th>
      <th>Actions</th>
    </tr>
    {% for emp in employees %}
    <tr>
      <td>{{ emp.employee_no }}</td>
      <td>{{ emp.employee_name }}</td>
      <td>{{ emp.cpr }}</td>
      <td>{{ emp.phone1 }}</td>
      <td>{{ emp.section }}</td>
      <td>{{ emp.position }}</td>
      <td>{{ emp.store|default:"-" }}</td>

      <td>
    <a href="{% url 'reactivate_employee' emp.id %}" onclick="return confirm('Reactivate this employee?')">Reactivate</a>
  </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
